In [1]:
from sqlalchemy import extract, desc
import datetime
import time
import MetaTrader5 as mt5
import pandas as pd

import options_estrategies as opt_est
from options_estrategies import Option_Due, InformationType
import models as model

In [2]:
if not mt5.initialize():
    print("initialize() failed")
    mt5.shutdown()

estrategies = opt_est.options_estrategies(model, model.PETR4, model.PETR4_OPTIONS)

In [41]:
def tax_convert_dict_from_update_ticks_to_dataframe(tick_data):
    df_tick_data = pd.DataFrame.from_dict(tick_data)
    df_tick_data = df_tick_data.drop(columns=['_sa_instance_state','timestamp_option','days_to_due_date'])
    df_tick_data['stock_price'] = df_tick_data.stock_price.astype(float)
    df_tick_data['exercise_result'] = df_tick_data['strike'] -  df_tick_data['stock_price']  
        
    df_tick_data['tax_exercise'] = (((df_tick_data['strike'] -  df_tick_data['stock_price']) + df_tick_data['bid'])  / df_tick_data['stock_price']) * 100
    df_tick_data['tax'] = (df_tick_data['bid'] / df_tick_data['stock_price'])*100
    df_tick_data = df_tick_data[['option_name','deal_type_zone','stock_price','strike', 'bid','tax_exercise', 'tax']]      
    return df_tick_data

In [42]:
updated_ticks = estrategies.update_quotes(just_last_update=True,mode=InformationType.Real_Time)
ticks_to_process = updated_ticks[0]
options_updated = []
for i in ticks_to_process:
    options_updated.append(i.__dict__)

df_options_updated = convert_dict_from_update_ticks_to_dataframe(options_updated)
df_options_updated.reset_index()
df_options_updated = df_options_updated.set_index('option_name')
df_options_updated

            deal_type_zone  stock_price  strike   bid       TSE      TAXA
option_name
PETRH246               ITM         27.2   25.46  2.21  1.727941  8.125000
PETRH264               ITM         27.2   25.71  2.03  1.985294  7.463235
PETRH229               ITM         27.2   25.96  1.85  2.242647  6.801471
PETRH269               ITM         27.2   26.21  1.71  2.647059  6.286765
PETRH254               ITM         27.2   26.46  1.53  2.904412  5.625000
PETRH274               ITM         27.2   26.71  1.40  3.345588  5.147059
PETRH276               ITM         27.2   26.96  1.30  3.897059  4.779412
PETRH261               OTM         27.2   27.21  1.18  4.375000  4.338235
PETRH256               OTM         27.2   27.46  1.02  4.705882  3.750000
PETRH284               OTM         27.2   27.71  0.94  5.330882  3.455882
PETRH247               OTM         27.2   27.96  0.84  5.882353  3.088235
PETRH289               OTM         27.2   28.21  0.74  6.433824  2.720588
PETRH279               OTM         27.2   28.46  0.61  6.875000  2.242647
PETRH294               OTM         27.2   28.71  0.56  7.610294  2.058824
PETRH243               OTM         27.2   28.96  0.49  8.272059  1.801471
PETRH299               OTM         27.2   29.21  0.43  8.970588  1.580882
PETRH251               OTM         27.2   29.46  0.37  9.669118  1.360294

In [44]:
updated_ticks = estrategies.update_quotes(just_last_update=True,mode=InformationType.Real_Time)
ticks_to_process = updated_ticks[1]
options_updated = []
for i in ticks_to_process:
    options_updated.append(i.__dict__)

df_options_updated = convert_dict_from_update_ticks_to_dataframe(options_updated)
df_options_updated.reset_index()
df_options_updated = df_options_updated.set_index('option_name')
df_options_updated

            deal_type_zone  stock_price  strike   bid        TSE      TAXA
option_name
PETRI251               ITM        27.07   25.46  0.00  -5.947543  0.000000
PETRI258               ITM        27.07   25.71  0.00  -5.024012  0.000000
PETRI266               ITM        27.07   25.96  1.00  -0.406354  3.694126
PETRI269               ITM        27.07   26.21  0.10  -2.807536  0.369413
PETRI271               ITM        27.07   26.46  0.06  -2.031769  0.221648
PETRI274               ITM        27.07   26.71  0.01  -1.292944  0.036941
PETRI261               ITM        27.07   26.96  0.10  -0.036941  0.369413
PETRI279               OTM        27.07   27.21  0.12   0.960473  0.443295
PETRI281               OTM        27.07   27.46  0.10   1.810122  0.369413
PETRI278               OTM        27.07   27.71  1.38   7.462135  5.097894
PETRI286               OTM        27.07   27.96  1.00   6.981899  3.694126
PETRI254               OTM        27.07   28.21  0.17   4.839306  0.628001
PETRI276               OTM        27.07   28.46  1.00   8.828962  3.694126
PETRI289               OTM        27.07   28.96  0.51   8.865903  1.884004
PETRI291               OTM        27.07   29.21  0.66  10.343554  2.438123
PETRI294               OTM        27.07   29.46  0.66  11.267085  2.438123
PETRI299               OTM        27.07   29.96  0.58  12.818618  2.142593